# Python
.venv/
__pycache__/

# Results
*.json
*.txt
*.csv

# Latex Compiler
*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.out
*.url
*.svn
*.toc
*.pdf
*.gz
*.fls
*.fdb*

# Generated Bat Files
activate.bat
run.bat

# Hugging Face Token
confidential.py